body{
    background-color: lightgray; 
    font-family: Calibri, sans-serif;
 }
 div h1{
     color: teal;
 }
 div p{
     font-size: 20px;
     font-style: italic;
 }
 div img{
     width: 300px;
     height: 200px;
     border-radius: 10px;
     box-shadow: 0 0 10px black;
 }
 ul{
     background-color: teal;
     list-style-type: none;
     padding: 10px;
     width: 300px;
 }
 ul li{
     background-color: lightgray;
     padding: 10px;
     margin: 5px;
 }